.goatPic {
  width: 50%;
  margin: 10% 7%;
  float: left;
}
.stats {
  width: 55%;
  margin: 10% 2%;
  float: left;
}
.udder{
  float: right;
  margin: 7% 8%;
  width: 21%;
}
body{
  background-image: url("https://res.cloudinary.com/codermast/image/upload/v1572963895/background_xclho2.jpg");
  background-attachment: fixed;
}
ul{
  list-style-type: none;
  margin:0 24%;
  padding: 0;
  overflow: hidden;
  background-color: #4c8b7f;
  position: sticky;
  top: 0;
  font-family: 'Dancing Script', cursive;
}
li{
  float: left;
  font-size: 22px;
  font-family: 'Dancing Script';
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #43786e;
  color: black;
}
li a:hover:not(.active) {
  color: black;
}
h1,
h2,
h4 {
  color: white;
  text-align: center;
}
h1,
h2 {
  font-family: 'Dancing Script', cursive;
}
.logo{
  width: 9%;
}
p,
h3 {
  text-align: center;
  margin: 1% 7%;
}

h3 {
  color: purple;
  font-family: "Dancing Script";
}

#one {
  font-family: "Dancing Script";
  font-size: 20px;
}
#two{
  margin-top: 20%;
  text-align: center;
  float: right;
  font-size: 24px;
  font-family: 'Dancing Script';
}
p {
  font-size: 23px;
}
.navBar {
  background-color: #4c8b7f;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0; 
  overflow: auto;
}
.home-page1{
  font-size: 350%;
}
.home-page2{
  font-size: 300%;
}
.index-goat1{
  margin: 0 12%;
  width: 22%;
  height: auto;
}

.mySlides{
  margin-top: 3%;
  background: inherit;
}

.p_text{
  text-align: center;
  
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  background: inherit;
  margin: auto;
}

.partOne{
  margin-top:1%;
}

ult */ .mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #4c8b7f;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.img  {
  display: block;
  margin-top: auto;
  margin-bottom: 2%;
  margin-right: auto;
  width: 25%;
  float: left;
  background: inherit;
}
